/* set variables for theme colors */

* {
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 1rem;
}

header {
  background-color: #eee9da;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 5px;
  margin: 30px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #528cac;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.profile-photo {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

.profile-photo img {
  border-radius: 50%;
}

.welcome {
  display: block;
  margin-top: 150px;
  line-height: 1.25;
}

h1 {
  font-size: 4rem;
  font-family: "Josefin Slab", serif;
  color: #528cac;
}

h2 {
  font-size: 2rem;
  font-family: "Josefin Slab", serif;
  color: #6096b4;
}

p {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #536162;
  line-height: 1.5;
}

.about-me {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee9da;
}

.title-section {
  display: block;
  padding-left: 150px;
  padding-right: 100px;
  text-align: center;
}

.content-section {
  display: block;
  padding-top: 25px;
  padding-right: 150px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: pink;
}

#project-1 {
  height: 150px;
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  margin: 20px;
}

#project-2 {
  height: auto;
  width: 30%;
  background-color: lightgreen;
  padding: 20px;
  margin: 20px;
}

#project-3 {
  height: auto;
  width: 30%;
  background-color: lightgreen;
  padding: 20px;
  margin: 20px;
}

#project-4 {
  height: auto;
  width: 30%;
  background-color: lightgreen;
  padding: 20px;
  margin: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: orange;
  line-height: 1.25;
}

footer a {
  text-decoration: none;
}

#contact-link {
  padding: 20px;
  text-align: center;
}
