* {
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  font-family: "Lato", sans-serif;
}

header {
  background-color: aquamarine;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 5px;
  margin: 20px;
}

.profile-photo {
  display: flex;
  padding: 25px;
  width: 33%;
  height: auto;
  /* border-radius: 50%; */
}

.intro {
  display: flex;
  flex-direction: column;
}

.about-me {
  display: flex;
  background-color: pink;
}

.portfolio {
  display: flex;
  background-color: green;
}

footer {
  display: flex;
  background-color: orange;
}
